body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  margin: 20px;
}

.cabecera {
  background-color: #ff3333;
  padding: 10px;
  border: 1px solid orange;
}

.principal {
  background-color: white;
  border: 1px dashed gray;
  padding: 10px;
  margin-top: 5px;
}

.principal ul {
  margin-left: 30px;
}

.lista-color {
  border: 1px solid gray;
  margin-top: 10px;
  padding: 10px;
}

.lista-color span {
  background-color: green;
  color: white;
  padding: 3px 6px;
  margin: 3px;
  display: inline-block;
  border-radius: 4px;
}

.pie {
  background-color: #a8d8f0;
  border: 1px solid blue;
  padding: 10px;
  margin-top: 5px;
}
