body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
}

td {
  border: 2px solid black;
  padding: 10px;
}

.rojo {
  background-color: red;
  color: white;
  font-weight: bold;
}

.azul {
  background-color: #0043c0;
}

.gris {
  background-color: #555;
}

.letra-grande {
  font-size: 40px;
}

.blanco {
  background-color: white;
}

.amarillo {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.blanco-texto {
  color: white;
}

ul {
  list-style-type: disc;
  text-align: left;
  margin-left: 30px;
  color: red;
  font-weight: bold;
}
