* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #425067;
}

.contenedorPrincipal {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 48px;
  background-color: #eeeeee;
}

header nav ul {
  list-style: none;
  float: left;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  color: #2d3646;
}

header nav ul li a:hover {
  background-color: #e52f6e;
  color: white;
}

main {
  width: 70%;
  float: left;
  background-color: white;
}

main img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 30px;
}

section h1 {
  margin-bottom: 20px;
  font-size: 1.6em;
}

section p {
  text-align: justify;
  margin-bottom: 16px;
  line-height: 1.5em;
}

aside {
  width: 30%;
  float: left;
  background-color: #25d6c8;
  padding: 30px;
}

aside h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 1.4em;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin-bottom: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

footer {
  width: 70%;
  padding: 60px;
  background-color: #e52f6e;
  clear: both;
}

footer p {
  color: white;
  text-align: center;
}

.contenedorPrincipal:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  main,
  aside,
  footer {
    width: 100%;
    float: none;
    display: block;
  }

  footer {
    width: 100%;
  }
}
