body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.contenedor-transform {
  width: 180px;
  height: 180px;
  background-color: #2ecc71;
  color: white;
  font-family: sans-serif;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(1) rotate(0deg) translate(0, 0) skew(0deg, 0deg);
  transition: transform 0.6s ease-out;
}

.contenedor-transform:hover {
  transform: scale(1.3) rotate(15deg) translate(30px, -20px) skew(10deg, 5deg);
  background-color: #f1c40f;
  color: #333;
}
