html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.contenedor-principal {
  display: flex;
  min-height: 100vh;
}

.barra-lateral {
  flex: 0 0 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.barra-lateral a {
  color: #a0f0a0;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.contenido-principal {
  flex-grow: 1;
  padding: 40px;
  background-color: white;
}

.seccion-contenido {
  padding-top: 20px;
  margin-bottom: 50px;
  height: 800px;
  border-bottom: 1px solid #eee;
}

#btnVolverArriba {
  margin-left: 700px;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 500px;
  height: 80px;
  font-size: 24px;
}
