body {
  margin: 0;
  padding: 0;

  height: 100%;
}

main {
  height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;

  scroll-snap-align: start;
}

.seccion-1 {
  background-color: #ff5733;
}
.seccion-2 {
  background-color: #33ff57;
}
.seccion-3 {
  background-color: #3357ff;
}
